.encomenda_info {
	position: relative;
	width: 80%;
	height: auto;
	margin: 5% 0px 0px 8%;
	display: inline-block;
	/* background-color: rgba(20,20,20,1); */
}

.encomenda_box {
	width: 40%;
	min-width: 40%;
	position: relative;
	float: right;
	margin: 0px 0px 0px 10%;
	padding: 0px 0px 20px 0px;
	font-size: 25px; 
	font-family: Arial;
	color: black;
	border-style: solid;
	border-radius: 5px;
	/* background-color: red; */
}

.entregador_info {
	width: 40%;
	min-width: 40%;
	position: relative;
	float: left;
	margin: 0px 50px 50px 10px;
	padding: 0px 0px 30px 0px;
	font-size: 25px; 
	font-family: Arial;
	color: black;
	border-style: solid;
	border-radius: 5px;
}

.e_info {
	margin: 0px 0px 0px 10px;
}


/* .encomenda_box { */
/* 	position: relative; */
/* 	width: 400px; */
/* 	height: 160px; */
/* 	margin: 0px 0px 0px 65%; */
/* 	font-size: 30px; */
/* 	font-family: Arial; */
/* 	color: white; */
/* 	float: right; */
/* 	background-color: blue; */
/* } */

/* .entregador_info { */
/* 	position: relative; */
/* 	width: 400px; */
/* 	height: 160px; */
/* 	margin: 0px 0px 0px 0%; */
/* 	font-size: 30px; */
/* 	font-family: Arial; */
/* 	color: white; */
/* 	float: left; */
/* 	background-color: red; */
/* } */



/* padding: 25px 0px px 0px; */
