body {
	//background-color: rgba(0, 0, 0, 0.1);
}

#aux_field, #aux_nome, #aux_cpf, #aux_phone, #aux_endereco, #aux_recebe, #aux_password, #recebedor_id, #morador_status_id {
	display: none;
}

.forms {
	width: 550px;
	height: 420px;
	margin: 4% 50px 0px 33%;
	padding: 50px;
	background-color: rgba(20,20,20,1);
	border-radius: 30px;
}

.forms input[type="text"], input[type="password"] {
	width: 450px;
	margin: 10px 0px 0px 10px;
	padding: 10px 0px;
	line-height: 17px;
	font-size: 15px;
	border-radius: 30px;
	text-align: center;
}

.forms input[type="text"]::placeholder {
	text-align: center;
}

.forms input[type="checkbox"] {
	margin: 22px 0px 0px 20px;
	transform: scale(1.5);
}

label {
	color: white;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0px 0px 10px;
}

.forms input[type="submit"] {
	position: relative;
	overflow: hidden;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	margin: 10% 0px 0px 26%;
	padding: 15px 40px;
	border-radius: 20px;
}

.cadastro_ok, .cadastro_error {
	position: relative;
	float: center;
	overflow: hidden;
	font-family: Arial;
	font-size: 19px;
	color: white;
	font-weight: bold;
	padding: 0px 0px 0px 3%;
	border-radius: 39px;
}

.cadastro_ok {
	background-color: green;
	width: 300px;
	margin: 10px 10px 10px 41%;
	opacity: 0;
	animation-name: cadastro_encomenda_ok;
	animation-duration: 2s;
}

.cadastro_error {
	background-color: red;
	width: 380px;
	margin: 10px 10px 10px 39%;
	animation-name: cadastro_encomenda_error;
	animation-duration: 2s;
}

@keyframes cadastro_encomenda_ok {
	
	0% {
		opacity: 1;
		margin: -1% 10px 10px 41%;
	}
	100%  {
		opacity: 1;
		margin: 1% 10px 10px 41%;
	}
}

@keyframes cadastro_encomenda_error {
	
	0% {
		opacity: 1;
		margin: -1% 10px 10px 39%;
	}
	100%  {
		opacity: 1;
		margin: 1% 10px 10px 39%;
	}
}
