.footer_container {
	position: relative;
	width: 100%;
	background-color: rgba(20,20,20,1);
	padding: 5px 14px 5px 5px;
	clear: both;
	margin: 10% 0px 0px 0px;
}

.footer_container p#rights {
	margin: 0px 0px 0px 0px;
	padding: 15px 0px 0px 0px;
	color: white;
	text-align: center;
	font-family: Arial;
}
