body{
	background-color: rgba(255,255,255,1);
}

.logo_img img {
	width: 100px;
	margin: 30px 0px 0px 100px;
	display: inline-block;
}

#slogan {
	font-size: 40px;
	font-family: Arial;
	color: white;
	margin: -50px 0px 5% 24%;
	position: relative;
	display: inline-block;
}

.menu {
	background-color: rgba(20,20,20,1);
	position: relative;
	width: 100%;
	padding: 5px 14px 5px 5px;
	margin: 0px;
}

.dropbtn {
	background-color: #B97308;
	color: white;
	padding: 13px 40px 5px 40px;
	font-size: 18px;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown_content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown_content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-family: Arial;
	font-weight: bold;
}

.dropdown_content a:hover {
	background-color: #f1f1f1;
	text-decoration: none;
}

.dropdown:hover .dropdown_content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #9e8e41;
}

.menuItem {
	margin: 0px 0px 0px 30%;
}

.dropbtn {
	font-family: Arial;
	font-weight: bold;
	list-style: none;
	border-radius: 10px;
}
